*{
    padding: 0px;
    margin: 0px;
}
.secao_negocio{
    background: rgba(59,3,3,255);
    
}
.secao_negocio_t{
    margin-top: none;
}
.secao_negocio_p1,.secao_negocio_p2{
    text-indent:20px;
    text-align: justify;
}
.secao_negocio_p3{
    font-size: 20px;
    font-weight: 650;
}

.secao_negocio_foto{
    width:450px;
    height: 350px;
    border-radius: 35px;
    box-shadow: 5px 5px 5px gray;
}
.secao_drinks_p1{
    color: black;
}
.secao_drinks{
    background: rgba(244,99,18,255);
    font-family: 'Courgette', cursive;
}
.secao_drinks_foto{
    width: 450px;
    height: 350px;
    border-radius: 35px;
    box-shadow: 5px 5px 5px;
}
.foto_1{
    display: block;
}
.foto_2{
    display: none;
}
.t1_drinks,.t2_drinks{
    color: black;
}
.secao_cardapio{
    font-family: 'Courgette', cursive;
    background: #1f0202;
}
.cardapio_nome_bedida{
    font-size: 22px;
}
.section_rodape{
    background: rgba(17,18,18,255);
}

.navbar{
    height: 85px;
}
.item1,.item2,.item3{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px; 
}
.item1:hover,.item2:hover,.item3:hover{
    border-top: 2px solid rgba(244,99,18,255);
    border-bottom:2px solid rgba(244,99,18,255);
}
.foto_logo{
    position: relative;
    top: 10px;
}
.marca{
    font-size: 20px;
    font-weight: 650;
    color:#3f0905;
    position: relative;
    top: 10px;
}
.marca1,.brand_rodape_nome_bar{
    font-size: 20px;
    font-weight: 650;
    color:#a86129;
}
.brand_rodape_nome{
    font-size: 20px;
    font-weight: 650;
    color:#3f0905;
}
.text_slide{
    font-weight:750 ;
}
.fab,.fa-map-marker-alt,.fa-envelope{
	font-size: 30px;
}
.fa-desktop,.fa-cogs,.fa-mobile-alt{
	font-size: 100px;
	color:#AAD922;
}
.email{
	font-size:17px; 
}
.whatsapp{
	font-size: 16px;
}
.link_rodape{
    color: beige;
}
.link_rodape:hover{
    color: beige;
}
.marca_asfuture-div{
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.marca_asf_div_centralizar{
    padding: 10px;
}
.marca_asfuture{
    font-size: 20px;
    font-weight: 600;
    color: black;
    border-top: 2px solid #0000FF;
    border-bottom: 2px solid #0000FF;
}
u{
    text-decoration:underline;
}

@media(min-width: 150px) and (max-width:990px) {
    .navbar{
        height: auto;
    }
    .item1,.item2,.item3{
        font-size: 15px;
        padding: 0px;
        
    }
    
}
@media(min-width: 150px) and (max-width:490px) {
    .img{
        position: relative;
        right: 40px;
    }
}
@media(min-width: 160px) and (max-width:580px) {
    .foto_1{
        display: none;
    }
    .foto_2{
        display: block;
    }
    u{
        text-decoration:none;
        border-bottom: 1px solid black;
    }
    .secao_negocio_t{
        margin-top: 20px;
    }
}
@media(min-width: 160px) and (max-width:680px) {
    u{
        text-decoration:none;
        border-bottom: 1px solid black;
    }
}